*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
    height: 100vh;
}
.w-65{
    width: 65%;
    border-right: 0.2px solid black;
}
.w-65 h1{
    position: absolute;
    left: 250px;
    top: 125px;
}
.w-65 form{
    position: absolute;
    left: 250px;
    top: 250px;
    padding: 50px 100px;
    box-shadow: 2px 2px 5px 2px black;
    background-color: rgba(206,180,169);
    border: 0.5px solid black;
}
.w-65 form label{
    font-size: 20px;
}
.w-65 form input{
    padding: 7px 100px 7px 10px;
    border: 2px solid black;
}
.w-65 form button{
    background-color: white;
    border: 0;
    padding: 10px 20px;
    position: relative;
    top: 10px;
    left: 100px;
    border: 0.5px solid black;
    cursor: pointer;
}
.w-65 form a{
    position: relative;
    top: 10px;
    left: 88.5px;
}
.w-35{
    width: 35%;
    background-color: rgba(206,180,169);
}
.w-35 h2{
    margin-top: 330px;
    margin-left: 140px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 500;
}
.w-35 p{
    margin: 0 100px;
    font-size: 20px;
    text-align: center;
}