*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.d-flex{
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.mx-10{
    margin: 0 10px;
}
.w-3{
    width: 33%;
}

/* HEADER */

header{
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.logo-reservation{
    align-items: center;
}
header .toggle{
    opacity: 0;
}
header .logo{
    width: 150px;
    margin-left: 250px;
}
header .reservation{
    padding: 15px 25px;
    background-color: rgba(218,217,214);
    font-size: 15px;
    color: black;
    margin-right: 100px;
    border-radius: 10px ;
}
header .reservation:hover{
    background-color: rgba(206,180,169);
    transition: 0.5s;
    color: white;
}

/* NAVBAR */

.menu{
    background-color: rgba(187, 182, 182, 0.215);
    padding: 10px 0px;
}
.menu .menubar{
    list-style: none;
}

/* MAIN */

/* BANNER */

.banner{
    background: url(../img/banner.jpg) rgba(0, 0, 0, 0.3);
    background-size: cover;
    height: 750px;
    display: flex;
    background-blend-mode: darken;
    text-align: center;
    width: 100%;
}
.banner .slogan{
    color: white;
    text-shadow: rgb(179, 176, 176);
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    position: absolute;
    top: 600px;
    left: 600px;
}

/* MEETING AND EVENTS */

.meet-event{   
    max-width: 1400px;
    margin: auto;
}
.meet-event-content{
    margin-top: 70px;
}
.meet-event span{
    height: 2px;
    width: 363px;
    background-color: rgba(206,180,169);
    display: inline-block;
    justify-content: center;
    position: relative;
    top: 21px;
}
.meet-event .header h1{
    margin: 0 10px;
    font-size: 35px;
    letter-spacing: 2px;
}
.meet-event .content p{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    word-spacing: 5px;
}

/* BALLROOM */

.ballroom{
    margin-top: 130px;
}
.ballroom .w-50:last-child{
    max-width: 700px;
    margin: auto;
}
.ballroom .w-50:last-child h2{
    letter-spacing: 5px;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.ballroom .w-50:last-child p{
    word-spacing: 5px;
    font-size: 20px;
    color: rgb(92, 91, 89);
}

/* EVENT SPACES */

.event .header{
    margin-top: 100px;
}
.event span{
    height: 2px;
    width: 546px;
    background-color: rgba(206,180,169);
    display: inline-block;
    position: relative;
    top: 23px;
}
.event .header h1{
    margin: 0 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

/* package */

.package .header{
    margin-top: 100px;
}
.package span{
    height: 2px;
    width: 357px;
    background-color: rgba(206,180,169);
    display: inline-block;
    position: relative;
    top: 23px;
}
.package .header h1{
    margin: 0 10px;
    font-size: 35px;
    letter-spacing: 2px;
}

/* FOOTER */

footer{
    margin-top: 100px;
    background-color: rgba(218,217,214);
    padding: 10px 0;
}
.footer-form{
    padding: 10px 30px;
    box-shadow: 0.5px 0.5px 5px 0.2px black;
    background-color: white;
}
.btn{
    background-color: rgba(218,217,214);
    font-size: 15px;
    color: black;
    margin-right: 100px;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(128, 97, 84);
}
/* .inquiry-main{
    width: 100%;
    padding: 20px;
    border-radius:5px; 
  }
  .inquiry-main label.inquiry-label span {
  color: #a2aabd;
  font-size: 1.2em;
  font-weight: 500;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -1em;
  transition: all 0.1s linear;
  }
  .inquiry-main input.inquiry-input:focus + label.inquiry-label span,
  .inquiry-main input.inquiry-input + label.inquiry-label.show span {
  border-radius: 4px;
  color: #2088cd;
  font-size: 1em;
  padding: 0 .15em;
  opacity: 1;
  top: -4.2em;
  }
  .inquiry-main input.inquiry-input:focus::-webkit-input-placeholder {
  color: red !important;
  opacity: 0;
  
  }
  
  .inquiry-main input.inquiry-input{
    color: #666;
    font-size: 1em;
    padding: .75em .5em .5em;
    padding-bottom: 0;
    width: 100%;
    border: 0!important;
    border-bottom: 1px solid #ececec!important;
    border-radius: 0!important;
    background-image: linear-gradient(#9FC2FA, #9FC2FA);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out!important;
    outline: 0!important;
  }
  .inquiry-main textarea.inquiry-textarea {
  border: 0;
    border-bottom: 1px solid #ececec!important;
  }
  .inquiry-main textarea.inquiry-textarea::-webkit-input-placeholder{
  font-size: 1.2em;
  font-weight: 500;
  }
  .inquiry-main .field {
  margin-bottom: 1em;
  position: relative;
  }
  .inquiry-main input.inquiry-input:hover{
  background-size: 100% 2px, auto;
  }
  .inquiry-main input.inquiry-input{
  width: 100%!important;
  margin-bottom: 10px!important;
  }
  .inquiry-main input.inquiry-input:focus{
  box-shadow: inset 0 -2px 0 #9FC2FA!important;
  outline: 0!important;
  box-shadow: none;
  }
  .inquiry-main textarea.inquiry-textarea:focus{
  box-shadow: inset 0 -2px 0 #9FC2FA!important;
  border: 0;
  outline: 0!important;
  box-shadow: none;
  }
  .inquiry-main input.inquiry-input[type=number]::-webkit-inner-spin-button, 
.inquiry-main input.inquiry-input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.inquiry-main input.inquiry-input[type=number] {
  -moz-appearance: textfield;
}
  .bg-layer{
  background-image: linear-gradient(45deg, rgba(26, 168, 226,0.6), rgba(26, 168, 226,0.6)),url(/files/bg-layer.jpg);
  background-size: cover;
  }
  .br-left{
  border-radius: 5% 0% 0% 5% / 5% 0% 0% 5% ;
  }
  .br-right{
  border-radius: 0% 5% 5% 0% / 0% 5% 5% 0% ;
  }
  
.inquiry-main .inquiry-label, .inquiry-main .inquiry-label, .inquiry-main textarea.inquiry-textarea{
  width: 100%;
}

#inquiry, .inquiry-main .inquiry-label, .inquiry-main .inquiry-input {
position: relative;
}

.inquiry-main .inquiry-input, .inquiry-main textarea.inquiry-textarea {
padding: 0.5em;
border: none;
font: 300 100%/1.2 Ubuntu, sans-serif;
}
.inquiry-main .inquiry-input[type="text"], .inquiry-main .inquiry-input[type="email"], .inquiry-main textarea.inquiry-textarea {
margin: 0 0 1em;
outline: none;
}
.inquiry-main .inquiry-input.invalid, .inquiry-main textarea.inquiry-textarea.invalid {
border-color: #d5144d;
}
.inquiry-main .inquiry-label > span {
  vertical-align: top;
  display: inline-block;
  padding: 0.5em;
  border: 1px solid transparent;
  text-align: right;
}
.inquiry-main .inquiry-input, .inquiry-main textarea.inquiry-textarea{
  
  line-height: 1.5;
}
h2{
    padding: 30px;
}

  @media screen and (max-width: 600px){
  .inquiry-main input.inquiry-input:focus + label.inquiry-label span,
  .inquiry-main input.inquiry-input + label.inquiry-label.show span {
    top: -4.5em;
    }
    .inquiry-main{
      width: auto;
      padding: 0;
      margin: 0 auto;
  }
  .br-left{
    border-radius:0;
  }
  .br-right{
    border-radius: 0 ;
  }
  .inquiry-form-section .container-fluid .p-5{
    padding: 50px 0!important;
  }
  } */